---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const allPosts = await getCollection('blog');
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const pageTitle = "My personal Blog | Ricard Alcaraz Mancebo";
const description = "Welcome to my blog, where I share my passion for frontend development, web design, and the latest technology trends.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "image"
};
const latestPosts = sortedPosts.slice(0, 5);
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags allPosts={allPosts}/>
    <div class="px-8 max-sm:px-4">
        <ListPosts allPosts={latestPosts} />
    </div>

</Layout>
