---
import BlogPost from "./BlogPost.astro";
import Heading from "../ui/Heading.astro";
//import { getCollection } from 'astro:content';

//const allPosts = await getCollection('blog');
// Prop to determine whether to exclude the latest post or a specific post
export interface Props {
  allPosts: any[];
  excludeLatest?: boolean;
  currentPostSlug?: string;
  all?: boolean;
}

const { allPosts,excludeLatest = false, currentPostSlug = "", all = false } = Astro.props;


// Sort by date in descending order (newest first)
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA;
});

// Filter posts according to props
let postsToShow = allPosts;

if (currentPostSlug) {
  // Exclude current post if its URL is provided
  postsToShow = postsToShow.filter((post) => {
    const postUrl = `/blog/${post.slug}/`;
    //if (!post.url) return false; // If no URL, keep the post
    // Normalize URLs for comparison

    const normalizedPostUrl = postUrl.replace(/\/$/, ""); // Remove trailing slash if exists
    const normalizedCurrentUrl = currentPostSlug.replace(/\/$/, ""); // Remove trailing slash if exists
    return normalizedPostUrl !== normalizedCurrentUrl;
  });
} else if (excludeLatest) {
  // If no specific URL but want to exclude the latest
  postsToShow = postsToShow.slice(1);
}

// Limit to 4 posts if all is false
if (!all) {
  postsToShow = postsToShow.slice(0, 4);
}
---

<section
  class="py-8 max-lg:px-4 max-md:px-8 max-sm:px-0 max-md:py-4 max-w-4xl mx-auto"
>
  {
    all && (
      <div class="flex gap-4 pb-6 items-center text-center justify-center">
        <Heading text="All" textGradient="Posts" level={2} />
      </div>
    )
  }

  <div class="flex flex-col gap-8 w-full mx-auto">
    {
      postsToShow.map((post) => (
        <BlogPost
          url={`/blog/${post.slug}/`}
          title={post.data.title}
          date={post.data.pubDate}
          tags={post.data.tags}
          languages={post.data.languages}
          image={post.data.image}
        />
      ))
    }
  </div>
  {
    !all && (
      <div id="morePosts" class="w-full flex justify-center text-center my-12">
        <a
          href="/blog/posts/"
          class="font-bold cursor-pointer text-mint-400 dark:text-mint-100 hover:text-mint-500 dark:hover:text-mint-300 transition-all"
        >
          View all posts...
        </a>
      </div>
    )
  }
</section>
